<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>login</title>
<script>
    function a(obj)
    {     var _selectedvalue = obj.value;
        if(_selectedvalue==''){     _selectedvalue = '-1';  }
        for(i=1;i<=4;i++){
            var divobj = document.getElementById('tb'+i);
            if(parseInt(_selectedvalue)==i){       divobj.style.display = 'block';    }
            else{       divobj.style.display = 'none';
            }
        }
    }
</script>
</head>
<BODY>下拉：
<select id='selecttb' onchange="a(this)">
    <option value=''></option>
    <option value='1'>1</option>
    <option value='2'>2</option>
    <option value='3'>3</option>
    <option value='4'>4</option>

</select>
<div id="tb1" style='display:none'>
    <table>   <tr><td>1</td></tr>  </table>   </div>
<div id="tb2" style='display:none'>
    <table>   <tr><td>2</td></tr>  </table>   </div>
<div id="tb3" style='display:none'>
    <table>   <tr><td>3</td></tr>  </table>   </div>
<div id="tb4" style='display:none'>
    <table>   <tr><td>4</td></tr>  </table>   </div>

<table>   <tr><td>8</td></tr>  </table>   </div>

</BODY></HTML>
